<%include partials/header%>
<div class="container-fluid">
	<div class="row justify-content-md-center">
	<aside class="col-md-2">
		<div>
			<img src="http://via.placeholder.com/400x400" alt="user profile image" class="img-fluid">
		</div>
		<div>
			<a href="/">Go Home</a>
		</div>
	</aside>
	<div class="main col mr-2">
		<h2>Places</h2>
		<hr>
		<%for (let i = 0; i < visited.length; i++){%>
			<div class="card bg-light col-md"  restaurantId='<%=visited[i].restaurantId%>'>
				<div class="card-body">
					<h4 class="card-title"><%=visited[i].name%></h4>
					<h6 class="card-subtitle text-muted mb-2"><%=visited[i].display_phone%> <br> <%=visited[i].display_address%></h6>
				</div>
			</div>
		<%}%>
		<h2>Reviews</h2>
		<%for (let i = 0; i < reviews.length; i++){%>
			<div class="card bg-light col">
				<div class="card-body">
					<h4 class="card-title"><%=reviews[i].restaurant.name%></h4>
					<h4 class="card-subtitle mb-2"><%=reviews[i].rating%></h4>
					<h6 class="card-subtitle text-muted mb-2"><%=reviews[i].comment%></h6>
				</div>
			</div>
		<%}%>
	</div>
	</div>
</div>
<%include partials/footer%>